.grid-about {
  display: grid;
  grid-template-columns: 60% 40%;
}

.about-left_side {
  display: flex;
  flex-direction: column;
}

.about-h3 {
  font-family: "Damion", cursive;
  border-bottom: 3px solid #cfb299;
  max-width: fit-content;
  align-self: center;
  margin: 0;
}

.about-h3 > span {
  color: #9f643d;
}

.about-p {
  font-family: "Damion", cursive;
  font-size: 1rem;
  width: 75%;
}

.about-card {
  display: grid;
  border: 2px solid black;
}

.about-icon {
  height: auto;
  width: 2rem;
}

.about--card_header {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.about--card_p {
  font-family: "Roboto", sans-serif;
}

.about-right_side {
  display: flex;
  flex-direction: column;
}

.about-picture {
  height: auto;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .grid-about {
    display: grid;
    grid-template-columns: 100%;
  }

  #about-section {
    padding: 3.5rem 1rem 3.5rem 1rem;
  }

  .about-left_side {
    margin-bottom: 0.8rem;
  }

  .about-h3 {
    font-size: 2.5rem;
    margin-bottom: 1.7rem;
  }

  .about-p {
    font-size: 1.7rem;
    align-self: center;
    width: 74%;
    margin-bottom: 2rem;
  }

  .about-card {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 1rem 3.5rem 3rem 3.5rem;
    width: 17rem;
  }

  .about-icon {
    width: 4.8rem;
    margin-bottom: 1rem;
  }

  .about--card_header {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
  }

  .about--card_p {
    font-size: 1.2rem;
    /* grid-column: 1/2; */
    width: 88%;
    margin: 0;
  }

  .about-right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30rem;
  }

  .about-picture {
    width: 20rem;
    border-radius: 30px;
    border-bottom: 6px solid #9f643d;
    border-right: 6px solid #9f643d;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .grid-about {
    display: grid;
    grid-template-columns: 100%;
  }

  #about-section {
    padding: 3.5rem 1rem 3.5rem 1rem;
  }

  .about-h3 {
    font-size: 2rem;
    margin-bottom: 1.7rem;
  }

  .about-p {
    font-size: 1.4rem;
    align-self: center;
    width: 80%;
    margin-bottom: 3rem;
  }

  .about-card {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    margin: 0 3.5rem 2rem 12vw; /* Test VW */
    width: 17rem;
  }

  .about-icon {
    width: 3.4rem;
    margin-bottom: 1.4rem;
  }

  .about--card_header {
    font-size: 1.2rem;
  }

  .about--card_p {
    font-size: 0.9rem;
    grid-column: 1/2;
    width: 80%;
  }

  .about-right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 32rem;
  }

  .about-picture {
    width: 20rem;
    border-radius: 30px;
    border-bottom: 8px solid #9f643d;
    border-right: 8px solid #9f643d;
  }
}

/* Laptops, small screens */
@media (min-width: 769px) and (max-width: 1024px) {
  .grid-about {
    display: grid;
    grid-template-columns: 60% 40%;
  }

  #about-section {
    padding: 3.5rem 1rem 3.5rem 1rem;
  }

  .about-left_side {
    margin-left: 1.2rem;
  }

  .about-h3 {
    font-size: 1.8rem;
    align-self: flex-start;
    margin-bottom: 1rem;
  }

  .about-p {
    font-size: 1.1rem;
    width: 90%;
    margin-bottom: 2rem;
  }

  .about-card {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    /* margin: 0 3.5rem 2rem 2vw; */
    width: 17rem;
  }

  .about-icon {
    width: 2.8rem;
    margin-bottom: 1rem;
  }

  .about--card_header {
    font-size: 1rem;
  }

  .about--card_p {
    font-size: 0.8rem;
    grid-column: 1/2;
    width: 80%;
  }

  .about-right_side {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 32rem;
  }

  .about-picture {
    width: 12rem;
    border-radius: 30px;
    border-bottom: 6px solid #9f643d;
    border-right: 6px solid #9f643d;
  }
}
