.grid-about {
  display: grid;
  grid-template-columns: 60% 40%;
}

.about-left_side {
  display: flex;
  flex-direction: column;
}

.about-right_side {
  display: flex;
  flex-direction: column;
}

.about-p {
  font-size: 1rem;
  width: 75%;
}

.about-icon {
  height: auto;
  width: 2rem;
}

.about-picture {
  height: auto;
  width: 14rem;
}