#header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #381b13; /* #51291E, #301014 */
  color: white;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 32px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 30px;
}

#header-list {
  display: flex;
}

#header-list li {
  list-style: none;
  margin-left: 40px;
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
}

#header-list li > a {
  text-decoration: none;
  color: white;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  
  #header-section {
    height: 9vh;
  }

  #header-logo {
    font-size: 1rem;
    margin-left: 1.2rem;
  }
  
  .header-links {
    justify-content: space-evenly;
    margin-right: 1rem;
  }

  #header-list li {
    margin-left: 0.7rem;
  }

  #header-list li > a {
    font-size: 1rem;
  }
}