#header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #381b13; /* #51291E, #301014 */
  color: white;
  height: 8vh;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  font-family: 'Bebas Neue', cursive;
  font-size: 1.7rem;
}

.header-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2rem;
}

#header-list {
  display: flex;
}

#header-list li {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  list-style: none;
  margin-left: 2rem;
}

#header-list li > a {
  text-decoration: none;
  color: white;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  
  #header-section {
    max-height: 8.5vh;
  }

  #header-logo {
    font-size: 1rem;
    margin-left: 1.2rem;
  }
  
  .header-links {
    margin-right: 1rem;
  }

  #header-list li {
    margin-left: 0.6rem;
  }

  #header-list li > a {
    font-size: 1rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  #header-section {
    height: 9vh;
  }

  #header-logo {
    font-size: 1.5rem;
    margin-left: 1.4rem;
  }

  .header-links {
    margin-right: 1rem;
  }

  #header-list li {
    margin-left: 0.7rem;
  }

  #header-list li > a {
    font-size: 1.2rem;
  }
}

/* Laptops, small screens */
@media (min-width: 769px) and (max-width: 1024px) {
  #header-section {
    height: 9vh;
  }
}