#header-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #381b13; /* #51291E, #301014 */
}

.header--left_side {
  display: flex;
  flex-direction: row;
}

#header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
}

.header--beans_logo {
  height: auto;
}

.header--right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#header-list {
  display: flex;
  margin: 0;
}

.header--li_item {
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive;
  list-style: none;
  margin-left: 2rem;
}

.header-anchor {
  text-decoration: none;
  color: white;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  
  #header-section {
    height: 5.5rem;
  }

  .header--left_side {
    margin-left: 1.6rem;
  }

  #header-logo {
    display: none;
  }
  
  .header--beans_logo {
    height: auto;
    width: 3.3rem;
  }

  .header--right_side {
    margin-right: 1.2rem;
  }

  .header--li_item {
    margin-left: 1.2rem;
  }

  .header-anchor {
    font-size: 1.5rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 18px;
  }

  #header-section {
    height: 4.3rem;
  }

  .header--left_side {
    margin-left: 1.2rem;
  }

  #header-logo {
    font-size: 1.8em;
  }

  .header--beans_logo {
    height: auto;
    width: 2.7rem;
    margin-right: 0.6rem;
  }

  .header--right_side {
    margin-right: 1rem;
  }

  .header--li_item {
    margin-left: 0.7rem;
  }

  .header-anchor {
    font-size: 1.4rem;
  }
}

/* Laptops, small screens */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 22px;
  }

  #header-section {
    height: 3.5rem;
  }

  #header-logo {
    font-size: 1.5rem;
    margin-left: 1.4rem;
  }

  .header--beans_logo {
    height: auto;
    width: 2.8rem;
  }

  .header--right_side {
    margin-right: 1.4rem;
  }

  .header--li_item {
    margin-left: 0.8rem;
  }

  .header-anchor {
    font-size: 1.4rem;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) {
  html {
    font-size: 25px;
  }

  #header-section {
    height: 2.3rem;
  }

  #header-logo {
    font-size: 1.1rem;
    margin-left: 1.3rem;
  }

  .header--beans_logo {
    height: auto;
    width: 2.8rem;
  }

  .header--right_side {
    margin-right: 1.3rem;
  }

  .header--li_item {
    margin-left: 0.8rem;
  }

  .header-anchor {
    font-size: 1.1rem;
  }
}