#navbar-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: white;
  background-color: #381b13; /* #51291E, #301014 */
}

.navbar--left_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
}

.navbar--beans_logo {
  height: auto;
}

.navbar--right_side {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#navbar-list {
  display: flex;
  margin: 0;
}

.navbar--li_item {
  font-family: 'Bebas Neue', cursive;
  list-style: none;
}

.navbar-anchor {
  text-decoration: none;
  color: white;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 12px;
  }
  
  #navbar-section {
    height: 5.5rem;
  }

  .navbar--left_side {
    margin-left: 1.6rem;
  }

  #navbar-logo {
    display: none;
  }
  
  .navbar--beans_logo {
    height: auto;
    width: 3.3rem;
  }

  .navbar--right_side {
    margin-right: 1.2rem;
  }

  .navbar--li_item {
    margin-left: 1.2rem;
  }

  .navbar-anchor {
    font-size: 1.5rem;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  html {
    font-size: 18px;
  }

  #navbar-section {
    height: 4.3rem;
  }

  .navbar--left_side {
    margin-left: 0.9rem;
  }

  #navbar-logo {
    font-size: 1.7em;
  }

  .navbar--beans_logo {
    height: auto;
    width: 2.7rem;
    margin-right: 0.5rem;
  }

  .navbar--right_side {
    margin-right: 0.9rem;
  }

  .navbar--li_item {
    margin-left: 0.7rem;
  }

  .navbar-anchor {
    font-size: 1.2rem;
  }
}

/* Laptops, small screens */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 22px;
  }

  #navbar-section {
    height: 3.2rem;
  }

  .navbar--left_side {
    margin-left: 1rem;
  }

  #navbar-logo {
    font-size: 1.6rem;
    margin-left: 1rem;
  }

  .navbar--beans_logo {
    width: 2.4rem;
  }

  .navbar--right_side {
    margin-right: 1rem;
  }

  .navbar--li_item {
    margin-left: 1rem;
  }

  .navbar-anchor {
    font-size: 1.2rem;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) {
  html {
    font-size: 25px;
  }

  #navbar-section {
    height: 2.8rem;
  }

  .navbar--left_side {
    margin-left: 1rem;
  }

  #navbar-logo {
    font-size: 1.4rem;
    margin-left: 0.7rem;
  }

  .navbar--beans_logo {
    width: 2rem;
  }

  .navbar--right_side {
    margin-right: 1rem;
  }

  .navbar--li_item {
    margin-left: 0.8rem;
  }

  .navbar-anchor {
    font-size: 1.1rem;
  }
}