.grid-services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

#services-section {
  padding: 2rem 1rem 2.7rem 1rem;
  background-color: rgb(249 220 201 / 49%);
  font-family: 'Concert One', cursive;
}

#services-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#services-section img {
  height: auto;
  width: 4rem;
}

#services-section div h2 {
  font-size: 1.5rem;
  margin-bottom: 0;
}

#services-section div p {
  font-size: 1rem;
  margin-bottom: 0;
}

/* Mobile devices */
@media (min-width: 320px) and (max-width: 480px) {
  .grid-services {
    grid-template-columns: repeat(1, 1fr);
  }

  #services-section {
    padding: 5.5rem 1rem 1rem 1rem;
    height: fit-content;
  }

  #services-section div {
    margin-bottom: 4.5rem;
  }

  #services-section img {
    width: 6.7rem;
  }

  #services-section div h2 {
   font-size: 1.9rem;
  }

  #services-section div p {
    font-size: 1.3rem;
    max-width: 54%;
  }
}

/* Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  .grid-services {
    grid-template-columns: repeat(2, 1fr);
  }

  #services-section {
    padding: 3.2rem 1rem 1rem 1rem;
    height: 34rem;
    min-height: fit-content;
  }

  #services-section div {
    margin-bottom: 1.8rem;
  }

  #services-section img {
    width: 5rem;
  }

  #services-section div h2 {
    font-size: 1.4rem;
   }

  #services-section div p {
    font-size: 1rem;
    max-width: 78%;
  }
}

/* Laptops, small screens */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 22px;
  }

  .grid-services {
    grid-template-columns: repeat(2, 1fr);
  }

  #services-section {
    padding: 1.8rem 1rem 1.6rem 1rem;
    height: 26rem;
  }

  #services-section img {
    width: 4rem;
  }

  #services-section div h2 {
    font-size: 1.3rem;
   }

  #services-section div p {
    font-size: 0.8rem;
    max-width: 78%;
  }
}

/* Desktops, large screens */
@media (min-width: 1025px) {
  html {
    font-size: 25px;
  }

  .grid-services {
    grid-template-columns: repeat(4, 1fr);
  }

  #services-section {
    padding: 0;
    height: 13rem;
  }

  #services-section img {
    width: 3rem;
  }

  #services-section div h2 {
    font-size: 0.9rem;
   }

   #services-section div p {
    font-size: 0.7rem;
    max-width: 86%;
  }
}